<!DOCTYPE html>
<html>
<head>
    <title>Recipe Extractor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Welcome to Tasty Tools</h1>
        <div class="d-flex justify-content-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Tasty Tools Logo" class="logo">
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/" method="post" class="mt-5">
                    <div class="form-group">
                        <label for="url">Enter Recipe URL:</label>
                        <input type="text" name="url" placeholder="Enter recipe URL" class="form-control">
                    </div>
                    <input type="submit" value="Get Recipe" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>