<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe['name'] }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>{{ recipe['name'] }}</h1>
        </div>

        <!-- Details row -->
        <div class="row">
            <div class="col-md-3">
                <h5>Servings: {{ recipe['servings'] }}</h5>
                <h5>Prep Time: {{ recipe['prep_time'] }}</h5>
                <h5>Cook Time: {{ recipe['cook_time'] }}</h5>
                <h5>Total Time: {{ recipe['total_time'] }}</h5>
            </div>
            <div class="col-md-9">
                <!-- Ingredients -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Ingredients</h2>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for ingredient in recipe['ingredients'] %}
                            <li>
                                <input type="checkbox" class="ingredient-checkbox" id="ingredient_{{ loop.index }}">
                                <label for="ingredient_{{ loop.index }}">{{ ingredient }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Instructions -->
                <div class="card">
                    <div class="card-header">
                        <h2>Instructions</h2>
                    </div>
                    <div class="card-body">
                        <ol>
                            {% for instruction in recipe['instructions'] %}
                            <li>
                                <input type="checkbox" class="instruction-checkbox" id="instruction_{{ loop.index }}">
                                <label for="instruction_{{ loop.index }}">{{ instruction['text'] }}</label>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary mt-3" id="undoButton">Undo</button>
    </div>
    <style>
        ul, ol {
            list-style: none;
        }

        li {
            padding-left: 30px;
            position: relative;
        }

        li label {
            cursor: pointer;
        }

        li input[type='checkbox'] {
            position: absolute;
            left: 0;
            top: 0;
            margin-left: -30px;
            display: none; /* Hide the checkboxes */
        }

        li input[type='checkbox'] + label {
            position: relative;
            padding-left: 35px;
        }

        li input[type='checkbox'] + label:before {
            content: "\2610"; /* Unicode character for empty checkbox */
            position: absolute;
            left: 0;
            top: 0;
        }

        li input[type='checkbox']:checked + label:before {
            content: "\2611"; /* Unicode character for checked checkbox */
            color: #888; /* Change the color for checked checkbox */
        }

        li input[type='checkbox']:checked + label:after {
            text-decoration: line-through; /* Add line-through style for checked items */
            color: #888; /* Change the color for checked items */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to toggle the checkbox and hide the list item when clicked
            $("li input[type='checkbox']").on("click", function() {
                var listItem = $(this).parent("li");
                listItem.hide();
            });
        });
    </script>
</body>
</html>
